.Loader_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.Loader{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Loader_box{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.Loader_box_img{
    margin-bottom: 14rem;
    margin-top: -2rem;
    animation: mymove 4s infinite;
    position: relative;
}

@keyframes mymove {
    50% {transform: rotate(360deg);}
}

.Loader_box_img_img{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}
