.banner {
  padding-bottom: 20px;
}

.banner_img_mobile{
    display: none;
}

.banner_img img {
  width: 100%;
}

@media screen and (max-width: 35em) {
    .banner_img_mobile{
        display: block;
    }

    .banner_img {
        display: none;
    }

    .banner_img_mobile img {
      width: 100%;
    }
}
